<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>Variables Library - Abstack Tech</title>
        <link rel="stylesheet" href="styles/main.min.css">
        <script src="bower_components/angularjs/angular.min.js"></script>
        <script src="scripts/app.js"></script>
    </head>
    <body ng-app="abstackVarLib" ng-controller="mainCtrl">
        <header>
            Abstack Tech Variables Library
            <input type="text" class="search-box" placeholder="Type some keywords..." ng-model="keywords">
        </header>
        <ul class="word-list ng-hide" ng-show="wordsList">
            <li ng-repeat="word in wordsList | keywords: keywords">
                <h3>
                    <button class="btn-copy">COPY</button>
                    <a target="_blank" ng-href="{{ word.url?word.url: 'http://www.dict.cn/' + word.word }}" ng-bind="word.word"></a>
                </h3>
                <span class="tag-box">
                    <em ng-repeat="tag in word.tags track by $index" ng-bind="tag" ng-click="setKeywords(tag)"></em>
                </span>
            </li>
        </ul>
    </body>
</html>